.item-container {
    width: 100%;
    background-color: #eaeaea;
    padding: 10px 5px;
    border: 2px solid #fff;
}

.item-container :hover{
    transition: 0.5s;
    cursor: pointer;
    color: #cdb380;
 }

.centraliza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centraliza img {
    border-radius: 5px;
    width: 80px;
}
